
.header{
    padding: 23px 35px 23px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #1b1b1f;
    top: 0;
    left: 0;
    z-index: 1000;
}

.searchDiv{
    display: flex;
    gap: 19px;
}

.rightHeader{
    display: flex;
    gap: 28px;
    align-items: center;
}

.searchText__typo{
    display: flex;
    justify-content: space-between;
    margin: 9px 0 0 4px;
    font-size: 18px;
}

.typo__text, .typo__btn{
    color: #828282;
}

.typo__text > span, .typo__btn:hover{
    color: #fff;
}

.searchBox{
    position: relative;
}

.autoComplete__container{
    position: absolute;
    width: 100%;
    margin-top: 15px;
}