
.uploadBtn{
    background-color: #00E2B8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 17px;
    color: #000;
    height: 41px;
}

.uploadBtn:hover{
    background-color: #00C39F;
    cursor: pointer;
}

.disabled{
    background-color: #545454;
}

/**** ADAPTIVE *****/

/***************LAPTOP**********************/
@media (max-width: 1400px){

}

@media (max-width: 1200px) {
    
}

/*****************TABLET******************/
@media (max-width: 992px) {
    
}

@media (max-width: 884px){

}

@media (max-width: 767px) {
    
}


/********* MOBILE **********/
@media (max-width: 576px) {
    
}