
.search{
    display: flex;
    gap: 14px;
    background-color: #24292B;
    border-radius: 14px;
    padding: 9px 17px;
    max-height: 43px;
    width: 565px;
}

.searchInput{
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    touch-action: manipulation;
}

.searchInput::-webkit-search-cancel-button{
    appearance: none;
    height: 20px;
    width: 20px;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    filter: brightness(0) saturate(100%) invert(69%) sepia(55%) saturate(2567%) hue-rotate(119deg) brightness(98%) contrast(101%);
}

.searchInput::placeholder{
    color: #6B6B6B;
    font-size: 18px;
    font-weight: medium;
}

.searchInput:focus{
    outline: none;
}

.searchInput:focus::placeholder{
    color: transparent;
}

/**** ADAPTIVE *****/

/*****************TABLET******************/
@media (max-width: 992px) {
    .search{
        width: 90dvw;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .searchImg, .searchInput::-webkit-search-cancel-button{
        filter: brightness(0) saturate(100%) invert(22%) sepia(4%) saturate(16%) hue-rotate(16deg) brightness(105%) contrast(88%);
    }

    .searchInput{
        color: #000;
    }

    .searchInput::placeholder{
        color: #434343;
    }
}

@media (max-width: 767px) {
    .logo{
        display: none;
    }
}