
.search{
    display: flex;
    gap: 14px;
    background-color: #24292B;
    border-radius: 14px;
    padding: 9px 17px;
    max-height: 43px;
    width: 565px;
}

.searchInput{
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
}

.searchInput::placeholder{
    color: #6B6B6B;
    font-size: 18px;
    font-weight: medium;
}

.searchInput:focus{
    outline: none;
}

.searchInput:focus::placeholder{
    color: transparent;
}

/**** ADAPTIVE *****/

/***************LAPTOP**********************/
@media (max-width: 1400px){

}

@media (max-width: 1200px) {

}

/*****************TABLET******************/
@media (max-width: 992px) {
    .search{
        width: 785px;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .searchImg{
        filter: brightness(0) saturate(100%) invert(22%) sepia(4%) saturate(16%) hue-rotate(16deg) brightness(105%) contrast(88%);
    }

    .searchInput{
        color: #000;
    }

    .searchInput::placeholder{
        color: #434343;
    }
}

@media (max-width: 884px){
    .search{
        width: 695px;
    }
}

@media (max-width: 767px) {
    .logo{
        display: none;
    }

    .search{
        width: 554px;
    }
}


/********* MOBILE **********/
@media (max-width: 576px) {
    .search{
        width: 475px;
    }
}

@media (max-width: 476px) {
    .search{
        width: 335px;
    }
}