.videoContainer {
    position: relative;
    touch-action: manipulation;
    width: 334px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  padding: 0 16px;
}

.options {
  display: flex;
  gap: 16px;
}

.volume, .play {
  background-color: transparent;
}

.volume:hover, .play:hover {
  cursor: pointer;
}

.progressContainer, .progressBar {
    width: inherit;
}

.progressBar {
    appearance: none;
    height: 4px;
    outline: none;
    border-radius: 2px;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
}

.progressBar::-webkit-slider-thumb {
    appearance: none;
    width: 3px;
    height: 4px;
    cursor: pointer;
}

.video {
  border-radius: 18px;
  height: 601px;
  width: inherit;
  cursor: pointer;
}

.addVideo{
  display: none;
  position: absolute;
  bottom: 35px;
  right: 30px;
  z-index: 100;
}

.video__btn{
  display: none;
  flex-direction: column;
  gap: 17px;
  position: absolute;
  left: 26px;
  bottom: 94px;
  z-index: 10;
}

.videoBtn{
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoBtn > img{
  height: 37px;
  width: 37px;
  filter: brightness(0) saturate(100%) invert(54%) sepia(98%) saturate(688%) hue-rotate(123deg) brightness(89%) contrast(102%);
}

.filtersMobile{
  position: absolute;
  top: 12%;
  left: 20px;
  z-index: 100;
}

.transcriptionMobile{
  position: absolute;
  top: 11%;
  left: 20px;
  z-index: 100;
}

.active{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 11px;
}

/**** ADAPTIVE *****/

/*****************TABLET******************/
@media (max-width: 992px) {
    .videoContainer{
      width: 100%;
      height: 100dvh;
      transition: height 0.2s linear;
    }

    .video{
      height: 100%;
      object-fit: cover;
      border-radius: 0px;
    }
    
    .volume > img, .play > img{
      height: 33px;
      width: 33px;
    }

    .addVideo{
      display: block;
    }

    .video__btn{
      display: flex;
    }
}