
.addVideoBtn{
    background-color: #00E2B8;
    border-radius: 14px;
    height: 43px;
    width: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addVideoBtn:hover{
    background-color: #00c39f;
}


/**** ADAPTIVE *****/

/***************LAPTOP**********************/
@media (max-width: 1400px){

}

@media (max-width: 1200px) {
    
}

/*****************TABLET******************/
@media (max-width: 992px) {
    .addVideoBtn{
        height: 48px;
        width: 48px;
        border-radius: 16px;
        background-color: rgba(0, 0, 0, 0.6);
        border: 3px solid #00c39f;
    }

    .addVideoBtn > * > img{
        filter: brightness(0) saturate(100%) invert(68%) sepia(55%) saturate(3726%) hue-rotate(124deg) brightness(104%) contrast(101%);
    }
}

@media (max-width: 884px){
   
}

@media (max-width: 767px) {

}


/********* MOBILE **********/
@media (max-width: 576px) {

}