.searchVoice{
    background-color: #24292B;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
}

.searchVoice:hover{
    background-color: #31383a;
}