/* connect font */

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter-Medium.ttf");
}

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

body{
	font-family: "Inter";
	background-color: #1b1b1f;
	color: #fff;
	overflow: hidden;
	padding-top: 80px;
}

textarea{
	font-family: "Inter";
}
