.uploadedVideo{
    position: relative;
}

.uploadedVideo__delete{
    position: absolute;
    bottom: 70px;
    right: 17px;
    z-index: 2;
    background-color: rgba(0,0,0,0.6);
    border-radius: 7px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.uploadedVideo__delete:hover{
    background-color: rgba(0,0,0,1);
}

.dropArea, .dropAreaDrag{
    text-align: center;
    width: 334px;
    height: 543px;
    padding: 127px 30px 43px 30px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23828282FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 20px;
}

.dropAreaDrag{
    font-size: 18px;
    font-weight: bold;
}

.dropAreaDrag{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%2300E2B8FF' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 20px;
}

.dropArea > *{
    margin: 0 auto;
}

.dragVideo__text > *:not(:last-child){
    margin-bottom: 30px;
}

.dragVideo__text{
    margin-bottom: 92px;
}

.format{
    font-size: 15px;
    color: #828282;
    font-weight: bold;
}

.text{
    font-size: 18px;
    font-weight: bold;
}

.video {
    border-radius: 18px;
    height: 601px;
    width: 334px;
}

.darkVideo > video{
    filter: brightness(50%);
}

.error, .success{
    position: absolute;
    top: 42%;
    left: 42%;
    text-align: center;
}

.error > *:not(:last-child), .success > *:not(:last-child){
    margin-bottom: 6px;
}

.error > img{
    filter: brightness(0) saturate(100%) invert(35%) sepia(65%) saturate(787%) hue-rotate(325deg) brightness(97%) contrast(81%);
}

.success > img{
    filter: brightness(0) saturate(100%) invert(66%) sepia(94%) saturate(655%) hue-rotate(71deg) brightness(92%) contrast(88%);
    width: 42px;
    height: 42px;
}

.error__text{
    color: #BE4040;
}

.success__text{
    color: #25DA42;
}

.error__text, .success__text{
    font-size: 16px;
    font-weight: semibold;
    text-transform: capitalize;
}