.formVideo{
    width: 411px;
}

.formVideo > *:not(:last-child){
    margin-bottom: 35px;
}

/**** ADAPTIVE *****/

/*****************TABLET******************/
@media (max-width: 992px) {
    .formVideo{
        padding: 0 30px;
    }
}