.formVideo{
    width: 411px;
}

.formVideo > *:not(:last-child){
    margin-bottom: 35px;
}

.errorBlock, .successBlock{
    font-size: 18px;
    text-transform: capitalize;
}

.errorBlock{
    color: #f92f60;
}

.successBlock{
    color: #00d26a;
}

/**** ADAPTIVE *****/

/*****************TABLET******************/
@media (max-width: 992px) {
    .formVideo{
        padding: 0 30px;
    }
}